html {
    height: 100%;
    background-color: rgba(212, 230, 247, .2);
}

body {
    color: #113A5F;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
  
a {
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* H E A D E R S  &  L A B E L S */

h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin: 8px 0;
}

h2 {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    text-align: center;
    margin: 8px 0;
    color: #216EB5;
}

/* L A Y O U T */
.content-container {
    display: flex;
    height: -webkit-fill-available;
    padding: 88px 16px 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.header-lockup {
}

.app-icon {
    flex: 0 1 296px;
    height: 296px;
    margin: 32px 0;
    background-image: url(images/app-icon.svg);
    background-size: cover;
}

.confirmation-before {
    color: gray;
    background-color: lightgray;
    font-size: 20px;
    /* font-weight: bold; */
    line-height: 24px;
    text-align: center;
    margin: 0 0 20px;
    flex: 0 1 676px;
    padding: 12px 6px;
    border: 1px solid rgba(17, 58, 95, .2);
    border-radius: 4px;
}

.confirmation-after {
    color: seagreen;
    background-color: lightgreen;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin: 0 0 20px;
    flex: 0 1 676px;
    padding: 12px 6px;
    border: 1px solid rgba(17, 58, 95, .2);
    border-radius: 4px;
}

.form-eyebrow {
    flex: 0 1 676px;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 16px;
}

.form-lockup {
    display: flex;
    flex: 0 1 676px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
}

.email-form {
    color: rgba(17, 58, 95, 1);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* flex: 0 1 460px; */
    -webkit-flex: 0 1 48%;
    flex: 0 1 48%;
    /* flex-grow: 1; */
    padding: 26px 25px;
    background: #F7FAFC;
    border: 1px solid rgba(17, 58, 95, .2);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(56, 68, 98, 0.2);
    border-radius: 12px;
    min-width: intrinsic;
    margin: 0 0 16px;
}

input::placeholder {
    color: rgba(17, 58, 95, .2);
  }

input[type='submit'] {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    flex: 1 1 192px;
    padding: 26px 25px;
    background: #113A5F;
    border: 1px solid rgba(17, 58, 95, .2);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(56, 68, 98, 0.2);
    border-radius: 12px;
    cursor: pointer;
}

.form-subtitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    margin-top: 8px;
    color: #6B6B6B;
}

.footer {
    display: flex;
    align-self: flex-end;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 8px;
}

/* B U T T O N S */
  
/* I C O N S */

/* I M A G E S */

/* A D D - O N S */
    .break {
        flex-basis: 100%;
    }
  
/* M O B I L E */
@media (max-width: 768px) {
    .content-container {
        padding: 36px 16px 24px;
    }
    .app-icon {
        flex: 0 1 156px;
        height: 156px;
    }

    .email-form {
        font-size: 12px;
        line-height: 14px;
        padding: 13px 12px;
        border-radius: 6px;
        flex: 1 1 100%;
    }

    input[type='submit'] {
        font-size: 12px;
        line-height: 14px;
        padding: 13px 12px;
        border-radius: 6px;
        flex-basis: 100%;
    }

}/* E N D   M O B I L E */

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='submit']
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }