html {
    height: 100%;
    background-color: #171717;
}

body {
    color: #FFF;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
  
a {
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* H E A D E R S  &  L A B E L S */

h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin: 8px 0 24px;
    color: #dddddd;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    margin: 8px 0;
    color: #666;
}

/* L A Y O U T */
.content-container {
    display: flex;
    height: -webkit-fill-available;
    padding: 88px 0 0;
    flex-wrap: wrap;
    justify-content: center;
}

.app-icon {
    flex: 0 1 400px;
    height: 296px;
    margin: 32px 0;
    background-image: url(images/app-icon.svg);
    background-size: cover;
}

.alert-message {
    /* color: #1f2328;
    background-color: #fff8c5; */
    color: gray;
    background-color: #262626;
    font-size: 12px;
    /* font-weight: bold; */
    line-height: 20px;
    text-align: center;
    margin: 32px 0 20px;
    flex: 0 1 676px;
    padding: 16px 16px;
    /* border: 1px solid #d4a72c66; */
    border: 1px solid #666;
    border-radius: 8px;
}

.alert-message_button {
    display: block;
    color: #fff;
    /* background-color: #FFC619; */
    background-color: #3578f6;
    font-weight: bold;
    text-align: center;
    padding: 4px 6px;
    margin: 16px 0 0;
    border: 1px solid rgba(17, 58, 95, .2);
    border-radius: 4px;
}

.confirmation-before {
    color: gray;
    background-color: #262626;
    font-size: 20px;
    /* font-weight: bold; */
    line-height: 24px;
    text-align: center;
    margin: 0 0 20px;
    flex: 0 1 676px;
    padding: 12px 6px;
    border: 1px solid #666;
    border-radius: 4px;
}

.confirmation-after {
    color: #14B838;
    background: rgba(51, 153, 74, 0.5);
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin: 0 0 20px;
    flex: 0 1 676px;
    padding: 12px 6px;
    border: 1px solid #14B838;
    border-radius: 4px;
}

.form-eyebrow {
    flex: 0 1 676px;
    font-weight: bold;
    font-size: 12px;
    color: #666;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 16px;
}

.form-lockup {
    display: flex;
    flex: 0 1 676px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
}

.email-form {
    color: #222;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* flex: 0 1 460px; */
    -webkit-flex: 0 1 48%;
    flex: 0 1 48%;
    /* flex-grow: 1; */
    padding: 26px 25px;
    background: #F7FAFC;
    border: 1px solid rgba(17, 58, 95, .2);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(56, 68, 98, 0.2);
    border-radius: 12px;
    min-width: intrinsic;
    margin: 0 0 24px;
}

input::placeholder {
    color: rgba(102, 102, 102, 0.5);
  }

input[type='submit'] {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    flex: 1 1 192px;
    padding: 26px 25px;
    background: #FFC619;
    border: 1px solid rgba(17, 58, 95, .2);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(56, 68, 98, 0.2);
    border-radius: 12px;
    cursor: pointer;
}

.form-subtitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    margin-top: 8px;
    color: #666;
}

.footer {
    display: flex;
    align-self: flex-end;
    font-size: 12px;
    background-color: #262626;
    color: #666;
    width: 100%;
    line-height: 24px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 16px;
}

/* B U T T O N S */
  
/* I C O N S */

/* I M A G E S */

.created-by-dr {
    width: 144px;
    opacity: .8;
    margin: 32px auto 0;
}

.spec-logo {
    width: 288px;
}

/* A D D - O N S */
    .break {
        flex-basis: 100%;
    }
  
/* M O B I L E */
@media (max-width: 768px) {

    h1 {
        font-size: 32px;
        line-height: 48px;
    }

    .content-container {
        padding: 72px 0 0;
    }
    .app-icon {
        flex: 0 1 200px;
        height: 156px;
    }

    .email-form {
        font-size: 12px;
        line-height: 14px;
        padding: 13px 12px;
        border-radius: 6px;
        flex: 1 1 100%;
        margin: 0 0 16px;
    }

    .submit-button {
        font-size: 12px;
        line-height: 14px;
        padding: 13px 12px;
        border-radius: 6px;
        flex-basis: 100%;
    }

    input[type='submit'] { /* more specific to override webkit */ 
        -webkit-appearance:none;  
        font-size: 12px;
        line-height: 14px;
        padding: 13px 12px;
        border-radius: 6px;
        display:block;
     }

}/* E N D   M O B I L E */

@supports(-webkit-appearance: none) or (-moz-appearance: none) {

    input[type='submit'] {
      -webkit-appearance: none;
      -moz-appearance: none;
    }

}